<!DOCTYPE html>
<head>
  <title>{{title}}</title>
</head>
<body>
<div>
  <div>
    <h2>Raad het nummer !</h2>
      
        <div>
            <p>Raad het computer gegenereerd nummer tussen 1 and 100.</p>
         </div>
      
     <div>
       <label>Jou gok: </label>
       <input [disabled]="spelGewonnen" type="number" [value]="gok" (input)="gok = $event.target.value" />
       <button mat-button="primary" (click)="controleGok()">Verify</button>
        
       <button mat-button="warn" (click)="restartSpel()">Nieuw spel</button>
      <p>gok : {{gok}}</p>
      <p>Te gokken : {{teGokkenGetal}}</p>
     </div>
    <div>
       <p *ngIf="afwijking<0" >Je gokte te hoog.</p>
       <p *ngIf="afwijking>0" >Je gokte te laag.</p>
       <p *ngIf="afwijking===0" >Je hebt het spel gewonnen!</p>
    </div>
    <p>Aantal gokken :
      <span>{{aantalGokken}}</span>
    </p>
</div>
</div>

</body>